<div class="form-group">
    <div class="text-right">
        <a class="addBtn btn btn-primary">New product</a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Product Name</th>
                <td>Brand Name</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Category</td>
                <td>
                    <button type="button" class="customBtn btn btn-primary" (click)=viewProduct()>View</button>
                    <button type="button" class="customBtn btn btn-success" (click)=redirectToUpdate()>Update</button>
                    <button type="button" class="customBtn btn btn-danger" (click)=deleteProduct()>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>